{% extends '../base.html' %}

{% block css_link %}
<link href="/assets/css/guestbook.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="guestbook">
				<form action="/guestbook" method="post">
					<table>
						<tr>
							<td>이름</td><td><input type="text" name="name"></td>
							<td>비밀번호</td><td><input type="password" name="password"></td>
						</tr>
						<tr>
							<td colspan=4><textarea name="content" id="content" name="message"></textarea></td>
						</tr>
						<tr>
							<td colspan=4 align=right><input type="submit" VALUE=" 확인 "></td>
						</tr>
					</table>
				</form>
				<ul>
					<li>
						<table>
							<tr>
								<td>[4]</td>
								<td>안대혁</td>
								<td>2015-11-10 11:22:30</td>
								<td><a href="">삭제</a></td>
							</tr>
							<tr>
								<td colspan=4>
								안녕하세요. ^^;<br>
								하하하하
								</td>
							</tr>
						</table>
						<br>
					</li>
				</ul>
			</div>
{% endblock %}